.headerImageContainer {
  display: flex;
  justify-content: center;
}

.headerTextContainer {
  display: flex;
  justify-content: flex-start;
}

.headerText {
  color: '#ffffff';
  font-family: arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .headerText {
    color: '#ffffff';
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer
  }
}
